/* App.css */
body{
  background-color: rgb(135, 181, 165);
}
.container {
  text-align: center;
  margin-top: 50px;
}

.input {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}

.message {
  color: red;
  font-weight: bold;
}
